* {
  margin: 1px 1px;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: bold;
}

@media (min-width: 360px) {
  body header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 7fr;
        grid-template-columns: 2fr 7fr;
  }
  body article {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
  }
  body .center {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    grid-column-gap: 5px;
    height: 100px;
  }
  body section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 5fr 3fr;
        grid-template-columns: 5fr 3fr;
    grid-column-gap: 5px;
  }
}

@media (min-width: 1024px) {
  main article {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 2fr;
        grid-template-columns: 2fr 2fr;
    border: 1px solid grey;
    padding: 20px 5px 3px;
  }
  main article div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;
    margin: 5px;
  }
  main aside {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;
  }
  main aside div {
    min-height: 150px;
  }
  main #main-header {
    min-height: 150px;
  }
}

header div,
article div p,
main div .img,
.center div,
#main-header,
aside div,
section .main-footer,
nav,
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  display: -ms-grid;
  display: grid;
  background-color: floralwhite;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-columns: 6fr 3fr;
      grid-template-columns: 6fr 3fr;
  grid-column-gap: 5px;
  margin: 3px 0;
}

header div {
  border: 1px solid grey;
  background-color: antiquewhite;
}

main article {
  border: 1px solid grey;
  padding: 20px 5px 3px;
  margin: 3px 0;
  background-color: darkseagreen;
}

main article div {
  margin: 5px 0;
}

main article div p {
  color: white;
}

main article div .turtle {
  background-image: url(https://www.glyphicons.com/img/glyphicons/basic/2x/glyphicons-basic-405-turtle@2x.png);
}

main article div .rabbit {
  background-image: url(https://www.glyphicons.com/img/glyphicons/basic/2x/glyphicons-basic-406-rabbit@2x.png);
}

main article div .cat {
  background-image: url(https://www.glyphicons.com/img/glyphicons/basic/2x/glyphicons-basic-407-cat@2x.png);
}

main article div .skull {
  background-image: url(https://www.glyphicons.com/img/glyphicons/basic/2x/glyphicons-basic-499-skull-crossbones@2x.png);
}

main article div .img {
  background-color: grey;
  min-width: 100%;
  min-height: 250px;
  background-repeat: no-repeat;
  background-color: grey;
  background-position: center;
  background-size: cover;
}

.center {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 2fr;
      grid-template-rows: 1fr 2fr;
}

.center div {
  min-height: 100px;
  border: 1px solid grey;
  background-color: aliceblue;
}

section .column {
  margin: 3px 0;
}

section .column #main-header {
  margin: 1px 0;
  border: 1px solid grey;
  height: 100px;
  background-color: beige;
}

section aside div {
  border: 1px solid grey;
  width: 100%;
  height: 100px;
  background-color: bisque;
}

section .main-footer {
  border: 1px solid grey;
  height: 300px;
  margin: 3px 0;
  background-color: #a39a47;
}

section nav {
  border: 1px solid grey;
  height: 100px;
  margin: 3px 0;
  background-color: burlywood;
}

section nav li {
  list-style-type: none;
}

section nav li a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

section nav li a:link {
  color: black;
}

section nav li a:visited {
  color: black;
}

section nav li a:focus {
  border-bottom: 1px solid;
  background: grey;
  color: #1900ff;
  font-weight: bold;
}

section nav li a:hover {
  border-bottom: 1px solid;
  background: gray;
}

footer {
  border: 1px solid grey;
  height: 40px;
  background-color: chocolate;
}
/*# sourceMappingURL=style.css.map */